
<%= render partial:"welcome/navigation" %>
<br/>
<br/>

<center><h1>Wire Wrapping</h1></center>
<br />
<p><h2>Wire Wrapping can be used in a variety of different ways, primarily, I use a tight-knit shaping technique to create molecular patterns.</h2></p>
<p><h2>Once you get the hang of basic wrapping and measurement, you can work on more complex projects involving circles, beading and shaping.
</h2></p>
<br/>

<iframe width="420" height="345"
src="https://www.youtube.com/watch?v=P9BCQu4tam8">
</iframe>


<p><h3>Clearly this is not a Proper movie of my work, it is actually a video of my application video for Code Fellows, to be filled out more thoroughly when I have time.</h3></p>
