<html>
<head>

</head>
<body>
<%= render partial:"welcome/navigation" %>
<br/>
<br/>


<header>Wire Wrapping</header>
<br />
<p><h2>Wire Wrapping can be used in a variety of different ways, primarily, I use a tight-knit shaping technique to create molecular patterns.</h2></p>
<p><h2>Once you get the hang of basic wrapping and measurement, you can work on more complex projects involving circles, beading and shaping.
</h2></p>
<br/>
<div class="video">
  <iframe width="560" height="315" src="//www.youtube.com/embed/P9BCQu4tam8" frameborder="0" allowfullscreen></iframe>
</div>

<p><h3>Clearly this is not a Proper movie of my work, it is actually the video I used to apply to Code Fellows, to be filled out more thoroughly when I have time.</h3></p>
</body>
</html>
