<h1>Wire Wrapping</h1>
<br />
<p><h2>Wire Wrapping can be used in a variety of different ways, primarily, I use a tight-knit shaping technique to create molecular patterns.</h2></p>
<p><h2>Once you get the hang of basic wrapping and measurement, you can work on more complex projects involving circles, beading and shaping.
</h2></p>
