<%= render partial:"/welcome/navigation" %>
<br/>
<br/>

<header>Crochet</header>
<h2>Here, I have a series of crochet projects to inspire and help you get started on your own projects.</h2>
<p><h2>There is a difference in the texture you will acheive using crochet versus knitting. For projects like amurigumi (animal or character interpretations, usually in a "chibi" manner), the use of crochet versus knitting is an interesting choice, we'll go over some differences here so you can make your favorite pieces.</h2></p>
