<head>

<link href="/favicon.png" rel="icon">
<title>Art it Up</title>

</head>

  <div id="container">
      <div class="nav-collapse collapse navbar-responsive-collapse" style="height:0;">
<ul id="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/wire_wrappers/index">Wire Wrapping</a></li>
  <li><a href="/crochet/index">Crochet</a></li>
  <li><a href="/beadings/index">Beading</a></li>
</ul>
<br />
