<head>
<title>Art it Up</title>
</head>
  <div id="container">
<ul id="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/wire_wrappers/index">Wire Wrapping</a></li>
  <li><a href="/crochet/index">Crochet</a></li>
  <li><a href="/beadings/index">Beading</a></li>
</ul>
</div>
<br />
