<header>Welcome to Anatomy of an Art Project </header>
<h2>Below, I have a selection of styles to choose from, choose one that interests you, and you will be able to find some examples of my work, and how you can make a creation of your own. <h2>


<div class="craft_buttons">

<a class="wire_wrapped craft_item" href="/wire_wrappers/index">
  <span class="wire_wrapping">
    <img src="assets/caffeine.png" width="200" height="200"/>
    <p>Wire Wrapping</p>
  </span>
</a>

<a class="crochet craft_item" href="/crochet/index">
  <span class="Crochet">
    <img src="assets/Bunnybear_copy.jpg" width="200" height="200"/>
    <p>Crochet</p>
  </span>
</a>

<a class="beading craft_item" href="/beadings/index">
  <span class="Beading">
    <img src="assets/beeearrings.jpg" width="200" height="200"/>
    <p>Beading</p>
  </span>
</a>
</div>








