<h1>Welcome to Anatomy of an Art Project </h1>
<h2>Below, I have a selection of styles to choose from, choose one that interests you, and you will be able to find some examples of my work, and how you can make a creation of your own. <h2>

<div class="craft_buttons">
<a class="wire_wrapped" href="/wire_wrappers/index>">
  <span class="Wire Wrapping">
    <p>Wire Wrapping</p>
    <img src="assets/caffeine.png" width="200" height="200"/>
  </span>
</a>
</div>




