<%= render partial:"/welcome/navigation" %>
<br/>
<br/>

<header>Beading</header>
<h2>In discussing beading projects, there are a lot of choices between using the beads as a highlight or the prominant component.</h2>
<p><h2>There is also choices between 3 dimensional pieces and 2 dimensional. We'll start in our list with 2D weaving and creations, and move onto 3D animals and creations.</h2></p>
